button {
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: white;
  border: 2px dotted white;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  user-select: none;
}

button:hover {
  background-color: rgb(47, 0, 255);
}

.boton-incrementar {
  background-color:black;
}

.boton-reiniciar {
  background-color: black;
  &:hover{
    background-color: red;
  }
}

