* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, 
body {
  background-color: #01011f;
  font-family:  Roboto,  sans-serif;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Roboto, sans-serif;
}

.logo-contenedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}



.container {
  display: flex;
  height: 550px;
  min-width: 450px;
  width: auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 15px;
}